{% extends "personal/header.html" %}

{% block content %}
{% load static %}

<div class="page-title" style="background-image: url(/static/images/page-title.png)">
    <h1>Hire Me</h1>
</div>
 

<section id="contact-page">
    <div class="container">
        <div class="large-title text-center">        
            <h2>Contact Alphatech Solutions today</h2>
            <p>I'm availble for any Web Application Project, hire me now.<br>You can add the description of your project in the message box, I will get in touch with you soon.</p>
        </div> 
        <div class="row contact-wrap"> 
            <div class="status alert alert-success" style="display: none"></div>

            <form action="" method="post">
                {% csrf_token %}
             
            <div class="form-check">
                <label for="fullname">Fullname: </label>
                <input
                    type="text"
                    name="fullname"
                    class="form-check-input"
                    
                />
                
             
                <label for="Email">Email: </label>
                <input
                    type="email"
                    name="email"
                    class="form-check-input"
                    
                />
                
            </div>

            <div class="form-check">
                <label for="company_name">Company: </label>
                <input
                    type="text"
                    name="company_name"
                    class="form-check-input"
                    
                />
                
             
                <label for="Subject">Subject: </label>
                <input
                    type="text"
                    name="text"
                    class="form-check-input"
                    
                />
                
            </div>
            <div class="form-check">
                <label for="message">Message: </label>
                <textarea
                    
                    name="message">
                     
                    
                </textarea>

                <label for="message">Position: </label>
                <select name="position">
                    {% for user in users %}
                    <option>{{user.title}}</option>
                    {% endfor %}
                </select>   
            </div>
            <input type="submit" value="Submit" class="btn btn-success btn-md mt-4">
            </form>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
{% include "personal/includes/footer.html" %}
{%endblock%}